body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navigation Bar */

.nav-bar {
  background-color: #fff;
  border-bottom: 1px solid #f1f1f1;
  position: relative;
}

.nav-link {
  color: #000000;
}

.nav-link h1 {
  font-size: 1.5rem;
  display: inline-block;
  color: #808080;
  margin-left: 0.5rem;
}

.nav-item {
  float: right;
}


/* Add Book Form */
div.container {
  padding: 0 8rem;
}

.form-wrapper {
  margin: 50px 0;
  padding: 4rem;
  border: 1px solid #ccc;
  border-radius: 16px;
}

.form-input {
  margin: 0 20px;
}

.submit-form-btn-wrapper {
  text-align: center;
}

.submit-form-btn {
  margin-top: 3rem;
}

.preview-image-wrapper {
  text-align: center;
  margin: 0 auto 20px auto;
}

.preview-image-wrapper img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

/* Card */
.card-deck {
  justify-content: left;
  padding-bottom: 50px;
}

.card {
  width: 15rem;
  padding: 7.5px 15px 7.5px 15px;
  margin: 1.3rem;
  transition: box-shadow 0.3s;
  border: 0 !important;
}

.card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.card-img {
  height: 15rem;
  object-fit: cover;
}

.card-body {
  padding: 1.25rem 0 0 0 !important;
}

.card-title.h5, .card-subtitle.h6, .card-text {
  line-height: 1.5;
  margin: 0 0 0.5rem 0;
}

/* Search bar */
.form-row {
  width: 100%;
}

.form-group {
  margin-top: 2.5rem;
}

.form-control.search-bar {
  width: 50% !important;
  display: inline-block;
}

.form-control.filter {
  width: 15% !important;
  display: inline-block;
}

.no-results {
  margin: 50px auto 0 auto;
}

/* Book Info */
.bookinfo-wrapper {
  margin: 4rem;
}

.bookinfo-image-wrapper {
  text-align: center;
}

.bookinfo-image-wrapper img {
  width: 15rem;
}

/* Make button look like a link */
.read-more {
  background: none;
  border: none;
  padding: 0;
  color: #069;
  cursor: pointer;
}

.read-more:hover {
  color: #0000EE;
}

.icon {
  cursor: pointer;
}
